<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectronicLearning"
        tools:targetApi="31">
        <activity
            android:name=".neopixelstrip20"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip16"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip12"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip10"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip8"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip6"
            android:exported="false" />
        <activity
            android:name=".neopixelstrip4"
            android:exported="false" />
        <activity
            android:name=".neopixel24"
            android:exported="false" />
        <activity
            android:name=".main1"
            android:exported="false" />
        <activity
            android:name=".neopixel16"
            android:exported="false" />
        <activity
            android:name=".neopixel12"
            android:exported="false" />
        <activity
            android:name=".neopixel"
            android:exported="false" />
        <activity
            android:name=".light"
            android:exported="false" />
        <activity
            android:name=".ledrgb"
            android:exported="false" />
        <activity
            android:name=".led"
            android:exported="false" />
        <activity
            android:name=".dpdt"
            android:exported="false" />
        <activity
            android:name=".spdt"
            android:exported="false" />
        <activity
            android:name=".pmos"
            android:exported="false" />
        <activity
            android:name=".nmos"
            android:exported="false" />
        <activity
            android:name=".nMOS"
            android:exported="false" />
        <activity
            android:name=".pnp"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>